<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your organisations</title>
</head>
<body>
<div>
    <form th:action="@{/organisation/create}" method="post" th:object="${organisation}">
<div>
    <label for="name">Organisation navn: </label>
    <input id="name" type="text" th:name="orgName" required>
</div>
<div>
    <label for="description">Organisation beskrivelse: </label>
    <input id="description" type="text" th:name="orgDescription" required>
</div>
        <div>
            <button type="submit">Opret</button>
        </div>

    </form>
    <div>
        <a href="/organisation">
            <button>Annullér</button>
        </a>
    </div>

</div>


</body>
</html>