<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dine Organisationer</title>
</head>
<body>
<div>
    <table>
        <thead>

        </thead>

        <tbody>
        <tr th:each="organisation : ${allUserOrgs}">

            <td th:text="${organisation.name}"></td>
            <td th:text="${organisation.description}"></td>
            <td th:text="${organisation.dateCreated}"></td>


        </tr>
        </tbody>

    </table>

</div>

<div>
    <a href="organisation/create">
        <button>Opret ny Organisation</button>
    </a>
</div>
<div>
    <a href="dashboard">
        <button>Gå tilbage</button>
    </a>
</div>


</body>
</html>