<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--<th:block th:insert="~{fragments/head :: headerFiles}"></th:block>-->
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<div class="container">
    <!--<header th:replace="~{fragments/header :: header}"></header>-->

    <div>
        <h2>Nyt Projekt</h2>

        <form th:action="@{/project/addproject}" method="post" th:object="${newProject}">
            <div class="form-group">
                <label class="form-label" for="name">Name: </label>
                <input id="name" type="text" name="name" th:name="projectName" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Description: </label>
                <input id="description" type="text" th:name="description" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="team_id">Team ID: </label>
                <input id="team_id" type="number" th:field="*{teamId}" hidden="hidden">
            </div>

            <div class="form-group">
                <label class="form-label" for="deadline">Deadline: </label>
                <input id="deadline" type="datetime-local" th:name="deadline" required>
            </div>

            <button class="btn btn-success fw-bold" type="submit">Opret projekt</button>

            <a class="btn btn-warning fw-bold"
               th:href="@{/dashboard}">
                Annullér
            </a>

        </form>
    </div>

</div>
</body>
</html>