<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects overview</title>
</head>
<body>

<h1>Projects overview</h1>
<table >
    <thead>
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="project : ${projectList}">
            <td>
                <a th:text="${project.name}" th:href="@{/task/overview/{projectId} (projectId=${project.projectId})}"></a>
            </td>
            <td th:text="${project.deadline}"></td>
<!--&lt;!&ndash;            <td th:text="${project.getDeadline()}"></td>&ndash;&gt; TODO MAKE LOGIC THAT CALCULATES PROGRESSION IN PERCENTAGE-->
            <td th:text="${project.status}"></td>
            <td >
                <a th:href="@{/project/{projectId}/assign/members (projectId=${project.projectId})}">
                    <button>Assign members</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<a href=""> <!--TODO DEFINE THE BACK DESTINATION-->
    <button>back</button>
</a>
</body>
</html>