<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team members</title>
</head>
<body>
<h1 th:text="'Assign members to project: ' + ${projectName}"></h1>

<div th:if="${teamMembers.isEmpty()}">
    <p>
        Der er ingen teammedlemmer at tilføje.
    </p>
</div>

<form th:action="@{/project/{projectId}/assign/members (projectId=${projectId})}" method="post" th:object="${teamMembers}">

    <table>
        <tr th:each="teamMember : ${teamMembers}">
            <td>
                <label>
                    <input type="checkbox" name="teamMember" th:value="${teamMember.username}" th:text="${teamMember.username}">
                </label>
                <label>
                    <select th:value="${roleMember}" required>
                        <option th:each="userRole : ${userRoles}" th:value="${userRole}" th:text="${userRole}" name="role"></option>
                    </select>
                </label>
            </td>
        </tr>
    </table>

    <div th:if="${teamMembers.isEmpty()}">
        <button type="submit">Tilmeld</button>
    </div>
</form>

<a th:href="@{/organisation/{orgId}/department/{deptId}/team/{teamId} (orgId=${orgId}, deptId=${deptId}, teamId=${teamId})}">
    <button>Tilbage</button>
</a>

</body>
</html>