<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your organizations</title>
</head>
<body>
<div>
    <table>
        <thead>

        </thead>

        <tbody>
        <tr th:each="organization : ${allUserOrgs}">

            <td th:text="${organization.name}"></td>
            <td th:text="${organization.description}"></td>
            <td th:text="${organization.dateCreated}"></td>


        </tr>
        </tbody>

    </table>

</div>

<div>
    <a href="organization/create">
        Create Organization
    </a>
</div>


</body>
</html>