#login {
    width: 200px;
}

.alertPanel {
    margin-top: -30px !important;
}

.neg-m-4 {

}

.box-200 {
    min-width: 200px !important;
    max-width: 200px !important;
}

.box-400 {
    min-width: 400px !important;
    max-width: 400px !important;
}

.box-600 {
    min-width: 600px !important;
    max-width: 600px !important;
}