<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <th:block th:insert="~{fragments/head :: headFiles}"></th:block>
    <title>Dashboard</title>
</head>

<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <main>

        <h2 th:value=" 'Welcome ' + ${username}"></h2>

        <a href="organisation/create">
            Create Organization
        </a>


        <form th:action="@{/project/addproject}" method="get">
            <button type="submit">Create Project</button>
        </form>
    </main>
</div>
</body>
</html>