<!DOCTYPE html>
<html th:fragment="" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Title</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="d-flex justify-content-center text-center bg-secondary-subtle py-3 px-5 rounded shadow">
        <h2 th:value=" 'Welcome ' + ${username}"></h2>

        <a href="organisation/create">
            Create Organization
        </a>


        <form th:action="@{/project/addproject}" method="get">
            <button type="submit">Create Project</button>
        </form>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>






