<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/dashboard}" method="post">

    <div th:if="${param.error}">
        <p style="color: red;">Invalid username or password.</p>
    </div>

    <div th:if="${param.logout}">
        <p style="color: #000000;">You have logged out.</p>
    </div>

    <label>Username: </label>
    <input type="text">

    <label>Password: </label>
    <input type="password">
    <button type="submit">Log in</button>
</form>

</body>
</html>