<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div th:replace="~{fragments/errorPanel :: errorPanel}"></div>
<h1 th:text="${test}"></h1>
  <form th:action="@{/user/register}" method="post" th:object="${newUser}">

    <p>
    <label for="username">Username: </label>
    <input id="username" type="text" th:name="username" required>
    </p>

    <p>
      <label for="password">Password: </label>
      <input id="password" type="password" th:name="password" required>
    </p>

    <button type="submit">create account</button>
  </form>

</body>
</html>