<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="alerts" class="text-center">

    <div th:if="${param.error}" class="alert alert-danger alertPanel">
        Invalid username or password
    </div>

    <div th:if="${param.logout}" class="alert alert-success alertPanel">
        You have successfully logged out.
    </div>

    <div th:if="${alertSuccess != null}" th:text="${alertSuccess}" class="alert alert-success alertPanel" role="alert">
    </div>
    <div th:if="${alertDanger != null}" th:text="${alertDanger}" class="alert alert-danger alertPanel" role="alert">
    </div>
    <div th:if="${alertWarning != null}" th:text="${alertWarning}" class="alert alert-warning alertPanel" role="alert">
    </div>
    <div th:text="${breadCrumb}"></div>
    <div th:if="${breadCrumb.show}">

        <div th:each="breadcrumb : ${breadCrumb.breadCrumbs}">
            <a th:href="${breadcrumb.url}" th:text="${breadcrumb.name}"></a>
        </div>
    </div>
</div>

</body>
</html>