<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="alerts" class="text-center">

    <div th:if="${param.error}" class="alert alert-danger alertPanel">
        Ugyldigt brugernavn eller password
    </div>

    <div th:if="${param.logout}" class="alert alert-success alertPanel">
        Du er nu logget ud
    </div>

    <div th:if="${alertSuccess != null}" th:text="${alertSuccess}" class="alert alert-success alertPanel" role="alert">
    </div>
    <div th:if="${alertDanger != null}" th:text="${alertDanger}" class="alert alert-danger alertPanel" role="alert">
    </div>
    <div th:if="${alertWarning != null}" th:text="${alertWarning}" class="alert alert-warning alertPanel" role="alert">
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:each="breadcrumb : ${breadCrumb.breadCrumbs}" class="breadcrumb-item"
            th:classappend="${breadcrumb.active ? 'active' : ''}">
                <a th:unless="${breadcrumb.active}" th:href="${breadcrumb.url}" th:text="${breadcrumb.name}"></a>
                <th:block th:if="${breadcrumb.active}" th:text="${breadcrumb.name}">
                </th:block>
            </li>
        </ol>
    </nav>
</div>

</body>
</html>