<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="d-flex py-3 px-3 justify-content-between bg-secondary-subtle mb-5 mt-2 rounded" th:fragment="myHeader">
    <div class="box-400"></div>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Hjem</a></li>
            <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a th:href="@{/organisation}" class="nav-link">Organisation</a></li>
            <li class="nav-item"><a th:href="@{/faq}" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a th:href="@{/about}" class="nav-link">Om os</a></li>
        </ul>
    </nav>
    <div sec:authorize="isAnonymous()" class="d-flex flex-row justify-content-end box-400">
        <a th:href="@{/user/login}" type="button" class="btn btn-outline-primary fw-bold me-2">Log ind</a>
        <a th:href="@{/user/register}" type="button" class="btn btn-primary fw-bold">Tilmeld</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="d-flex justify-content-end box-400">
         <a href="/user/invitations" class="btn btn-primary fw-bold">
                Invitationer
                <span th:if="${inviteCount > 0}" th:text="${inviteCount}" class="badge rounded-pill bg-danger">
                </span>
         </a>
        <form th:action="@{/dashboard}" method="get">
            <button sec:authentication="principal.username" style="max-width: 130px;"
                    class="btn btn-secondary fw-bold overflow-hidden me-2"></button>
        </form>
        <form th:action="@{/user/logout}" method="post">
            <button type="submit" class="btn btn-danger fw-bold">Log ud</button>
        </form>
    </div>


</header>
</body>
</html>