<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="d-flex py-3 px-3 justify-content-between bg-secondary-subtle mb-5 mt-2 rounded" th:fragment="myHeader">
    <div class="box-200"></div>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a th:href="@{/organisation}" class="nav-link">Organisation</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </nav>
    <div sec:authorize="isAnonymous()" id="login" class="col-md-3 text-end">
        <a type="button" class="btn btn-outline-primary me-2">Login</a>
        <a type="button" class="btn btn-primary">Sign-up</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="col-md-3 text-end box-200">
        <form class="d-inline" th:action="@{/dashboard}" method="get">
            <button sec:authentication="principal.username" style="max-width: 130px;"
                    class="btn btn-dark fw-bold overflow-hidden me-2"></button>
        </form>
        <form class="d-inline" th:action="@{/user/logout}" method="post">
            <button type="submit" class="btn btn-danger fw-bold">Logout</button>
        </form>
    </div>

</header>
</body>
</html>